$color-principal: #21B2A6;
$color-secundario: #273038;
$color-terciario : #505393;
$color-btn: #EC462E;

$degrade-section3 : (1 : rgb(78, 80, 142), 2 : rgb(75, 77, 137), 3 : rgb(72, 75, 132), 4 : rgb(69, 72, 127), 5 : rgb(66, 69, 122), 6 : rgb(63, 66, 117));
