h1 {
  font-size: 2.3rem; }

h2 {
  font-size: 1.2rem;
  font-weight: bold; }

h4 {
  font-size: 1rem; }

* {
  font-family: 'Open Sans', sans-serif; }

.home, .home__arrow, .section1, .section1__icons, .section2__box, .section4, .footer {
  display: flex;
  align-items: center;
  justify-content: center; }

.divider {
  width: 50%;
  background-color: rgba(83, 83, 83, 0.61);
  border: 0; }

.side-nav li > a {
  color: #fff; }

.nav {
  background: 0;
  box-shadow: none; }
  .nav__hide {
    background: #21B2A6; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(56, 56, 56, 0.55);
  background-attachment: fixed; }

.home {
  height: 90vh;
  position: relative;
  top: 0; }
  .home__title {
    text-align: center;
    color: #fff; }
    .home__title hr {
      width: 300px; }
    .home__title--btn button {
      background-color: #EC462E;
      border: 0;
      letter-spacing: 1.5px;
      border-radius: 4px;
      padding: 8px 40px;
      margin: 20px; }
    .home__title--text {
      font-size: 1.3rem;
      letter-spacing: 2px;
      margin: 0; }
  .home__arrow {
    left: 46%;
    color: #fff;
    bottom: 30px;
    position: absolute;
    flex-direction: column; }

.section1 {
  background-color: #21B2A6;
  height: 100vh; }
  .section1__title {
    color: #fff;
    text-align: center; }
  .section1__icons--mg {
    margin: 25px; }

.section2 {
  background-color: #273038; }
  .section2__box {
    flex-wrap: wrap;
    padding: 0;
    color: #fff; }
    .section2__box--text h2 {
      padding-left: 20px; }
    .section2__box--text h4 {
      padding-left: 20px; }
  .section2 .row .col {
    padding: 0; }

.section3 {
  text-align: center;
  background-color: #505393;
  color: #fff;
  padding: 40px 0;
  margin: auto; }
  .section3__title {
    margin-bottom: 20px; }
  .section3__item {
    padding: 50px; }

.section3__bg1 {
  text-align: left;
  background-color: #4e508e; }

.section3__bg2 {
  text-align: left;
  background-color: #4b4d89; }

.section3__bg3 {
  text-align: left;
  background-color: #484b84; }

.section3__bg4 {
  text-align: left;
  background-color: #45487f; }

.section3__bg5 {
  text-align: left;
  background-color: #42457a; }

.section3__bg6 {
  text-align: left;
  background-color: #3f4275; }

.section4 {
  padding: 30px 0;
  margin: auto;
  color: #fff; }
  .section4__title h2 {
    font-size: 1.7rem; }
  .section4 button {
    color: #fff;
    padding: 5px 30px;
    margin: 5px;
    border-radius: 3px; }
  .section4__button {
    float: left; }
    .section4__button--sup {
      border: 0;
      background-color: #EC462E; }
    .section4__button--inf {
      background: none; }

.footer {
  background-color: rgba(64, 64, 64, 0.74);
  height: 30vh;
  text-align: center; }
  .footer__icons a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    padding: auto;
    margin: 4px 10px; }

@media (max-width: 765px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pic05.jpg"); } }
