$size-title-principal : 2.3rem;
$size-title : 1.2rem;
$size-subtitle : 1rem;
$size-parrafo:1rem;

h1{
  font-size: $size-title-principal;
}
h2{
  font-size: $size-title;
  font-weight: bold;
}

h4{
  font-size:$size-subtitle;
}
