@import "fonts";
@import "colors";

*{
  font-family: 'Open Sans', sans-serif;
}
@mixin padding-margin($padding, $margin) {
  padding: $padding;
  margin: $margin;
}
%flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider{
  width: 50%;
  background-color: rgba(83, 83, 83, 0.61);
  border: 0;
}
.side-nav li>a {
  color: #fff;
}


.nav{
  background: 0;
  box-shadow: none;
  &__hide{
    background: $color-principal;
  }
}
body{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  background-color: rgba(56, 56, 56, 0.55);
  background-attachment: fixed;
}
.home{
  height: 90vh;
  position: relative;
  top: 0;
  @extend %flex;
  &__title{
    text-align: center;
    color: #fff;
    hr{
      width: 300px;
    }
    &--btn button{
      background-color: $color-btn;
      border: 0;
      letter-spacing: 1.5px;
      border-radius: 4px;
      @include padding-margin(8px 40px, 20px);
    }
    &--text{
      font-size: 1.3rem;
      letter-spacing: 2px;
      margin: 0;
    }
  }
  &__arrow{
    left: 46%;
    color: #fff;
    bottom: 30px;
    position: absolute;
    @extend %flex;
    flex-direction: column;
  }
}
.section1{
  background-color: $color-principal;
  height: 100vh;
  @extend %flex;
  &__title{
    color: #fff;
    text-align: center;
  }
  &__icons{
    @extend %flex;
   &--mg{
     margin: 25px;
   }
  }
}
.section2{
  background-color: $color-secundario;
  &__box{
    @extend %flex;
    flex-wrap: wrap;
    padding: 0;
    color: #fff;
    &--text h2{
      padding-left: 20px;
    }
    &--text h4{
      padding-left: 20px;
    }
  }
  & .row .col{
    padding: 0;
  }
}

.section3{
  text-align: center;
  background-color: $color-terciario;
  color: #fff;
  @include padding-margin(40px 0, auto);
  &__title{
    margin-bottom: 20px;
  }
  &__item{
    padding: 50px;
  }
}
@each $num , $color in $degrade-section3  {
  .section3__bg#{$num}{
    text-align: left;
    background-color: $color;
  }
}

.section4{
  @extend %flex;
  @include padding-margin(30px 0, auto);
  color: #fff;
  &__title h2{
    font-size: 1.7rem;
  }
  button{
    color: #fff;
    @include padding-margin(5px 30px, 5px );
    // border: 0;s
    border-radius: 3px;
  }
  &__button{
    float: left;
    &--sup{
      border: 0;
      background-color: $color-btn;
    }
    &--inf{
      background:none;
    }
  }
}
.footer{
  background-color: rgba(64, 64, 64, 0.74);
  height: 30vh;
  text-align: center;
  @extend %flex;
  &__icons a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    @include padding-margin(auto, 4px 10px);
  }
}
@media (max-width:765px) {
  body{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/pic05.jpg');
  }
}
